{{ define "main" }}

<div class="layout-fixed">
    <div id="primary" class="content-area ">
        <div id="content" class="site-content" role="main">
            <article id="post-2005" class="post-2005 page type-page status-publish hentry">
                <div class="post-header page-header post-header-classic">
                    <header class="entry-header" style="display: none;">
                        <h1 class="entry-title">Home</h1></header>
                </div>
                <div class="entry-content">
                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1531162230179">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_single_image wpb_content_element vc_align_center">
                                        <figure class="wpb_wrapper vc_figure">
                                            <div class="vc_single_image-wrapper vc_box_circle  vc_box_border_grey">
                                                <img width="150" height="150"
                                                     src="/images/hero.jpg"
                                                     class="vc_single_image-img attachment-thumbnail" alt=""
                                                     srcset="/images/hero-150x150.jpg 150w, /images/hero-300x300.jpg 300w, /images/hero-768x770.jpg 768w, /images/hero-1022x1024.jpg 1022w, /images/hero-1060x1062.jpg 1060w, /images/hero-550x550.jpg 550w, /images/hero-499x500.jpg 499w, /images/hero-1077x1080.jpg 1077w, /images/hero-250x250.jpg 250w, /images/hero.jpg 1705w"
                                                     sizes="(max-width: 150px) 100vw, 150px"></div>
                                        </figure>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h1 style="text-align: center; font-size: 2.0rem;">Hi, I’m Charles.
                                                I’m a Software Engineer &amp; an Advocate for African Innovation.</h1>
                                        </div>
                                    </div>
                                    <div class="vc_btn3-container vc_btn3-center">
                                        <a style="border-color:#000000; color:#000000;"
                                           class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-square download-link vc_btn3-style-outline-custom"
                                           href="/files/charles-resume.pdf" target="_blank" download
                                           title="Charles&#39; Resume">
                                            Download my Resume
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper"><p></p>
                                    <h3 class="section-title widget-title">
                                        <span>Interests &amp; Expertise</span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper"><p></p>
                                    <div class="service">
                                        <p><img alt="" src="/images/api.svg">
                                        </p>
                                        <h4>API Development</h4>
                                        <p>
                                            I design &amp; build APIs and Micro Services using Laravel &amp; NodeJS
                                            amongst other tools and frameworks.
                                        </p>
                                    </div>
                                    <p></p></div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper"><p></p>
                                    <div class="service">
                                        <p><img alt=""
                                                src="/images/computer-graphic.svg">
                                        </p>
                                        <h4>Software Architecture</h4>
                                        <p>
                                            I enjoy researching and testing different software architecture patterns as
                                            a way to improve my overall understanding of the software development and
                                            engineering process.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper"><p></p>
                                    <div class="service">
                                        <p><img alt=""
                                                src="/images/execution.svg">
                                        </p>
                                        <h4>DevOps</h4>
                                        <p>I recently started working with various
                                            CI/CD and deployment tools to streamline the overall process of
                                            building and delivering applications and microservices.</p></div>
                                    <p></p></div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper"><p></p>
                                    <div class="service">
                                        <p><img alt="MicroControllers & Space Flight" src="/images/rocket.svg">
                                        </p>
                                        <h4>IoT & Microcontrollers</h4>
										<p>In my downtime, I enjoy tinkering with Arduinos &amp; breadboards
										and exploring different software flows and paradigms in microcontrollers.
										It all started from trying to understand how flight computers worked really.
										</p>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper"><p></p>
                                    <h3 class="section-title widget-title"><span>A few other things</span></h3>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-3 vc_col-xs-6">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper"><p></p>
                                    <div class="fun-fact">
                                        <p><img alt=""
                                                src="/images/icon-camera.svg">
                                        </p>
                                        <h4>I love Photography</h4>
                                    </div>
                                    <p></p></div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-3 vc_col-xs-6">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper"><p></p>
                                    <div class="fun-fact">
                                        <p><img alt=""
                                                src="/images/meetup.svg"></p>
                                        <h4>I’ve Hosted 10+ Meetups</h4>
                                    </div>
                                    <p></p></div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-3 vc_col-xs-6">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper"><p></p>
                                    <div class="fun-fact">
                                        <p><img alt=""
                                                src="/images/bike.svg"></p>
                                        <h4>Working Towards Cycling Cross-Country</h4>
                                    </div>
                                    <p></p></div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper"><p></p>
                                    <div class="fun-fact">
                                        <p>
                                            <img alt="" src="/images/icon-backpack.svg">
                                        </p>
                                        <h4>I’ve Climbed 3 Mountains</h4>
                                    </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper"><p></p>
                                    <h3 class="section-title widget-title"><span>Current Affiliations</span>
                                    </h3>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid vc_row-o-content-middle vc_row-flex">
                        <div class="wpb_column vc_column_container vc_col-sm-3 vc_col-sm-offset-3">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper"><p></p>
                                    <div class="client">
                                        <p>
                                            <a target="_blank" href="https://adigroup.africa/">
                                                <img alt=""
                                                     src="/images/Screenshot-2019-08-25-20.44.13.png">
                                            </a>
                                        </p>
                                    </div>
                                    <p></p></div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-3 vc_col-xs-6">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper"><p></p>
                                    <div class="client">
                                        <p>
                                            <a target="_blank" href="https://yumi.us/">
                                                <img alt="" src="/images/android-chrome-192x192.png">
                                            </a>
                                        </p>
                                    </div>
                                    <p></p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>


{{ end }}
